services:
  postgres:
    image: postgres:15-alpine
    container_name: habit_tracker_db
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    ports:
      - "228:5432"
    networks:
      - app-network
    healthcheck:
      # Проверка что БД готова принимать подключения
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s     # Проверять каждые 10 сек
      timeout: 5s       # Ждать ответа 5 сек
      retries: 5        # 5 попыток
      start_period: 30s # Дать 30 сек на старт

  app:
    build: .
    container_name: habit-app
    env_file: .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      SECRET_KEY: ${SECRET_KEY}
      FLASK_DEBUG: ${FLASK_DEBUG}
      FLASK_PORT: ${FLASK_PORT}
    volumes:
      - habit_tracker_logs:/app/logs

    ports:
      - "5000:${FLASK_PORT}"
    networks:
      - app-network
    restart: on-failure
    command: ["sh", "python app.py"]

volumes:
  habit_tracker_logs:
  postgres_data:

networks:
    app-network:
      driver: bridge